#event-header
  .container
    .row
      .col.s12
        %h5
          .right
            %a.btn-floating.cyan.white-text.waves-effect{href: edit_event_path(event)}
              %i.material-icons.left edit
          = event.title
        %p
          = event.description
        %p
          = "#{t 'this_page_url'}:"
          %br
          = link_to_event_fullpath event
