= form_for [event, item] do |f|
  - if item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - item.errors.full_messages.each do |message|
          %li= message

  .input-field.col.s12
    = f.collection_select :category_id, item.available_categories, :id, :name
    = f.label :category_id, class: ""

  .input-field.col.s6
    = f.text_field :registered_at_date, placeholder: true, class: "datepicker",
        id: "registered_at_date"
    = f.label :registered_at_date, class: "active"

  .input-field.col.s6
    = f.text_field :registered_at_time, placeholder: true, class: "timepicker",
        id: "registered_at_time"
    = f.label :registered_at_time, class: "active"

  = f.hidden_field :registered_at, value: l(item.registered_at, format: :short),
      id: "registered_at"

  .col.s7
    = f.label :"tmp_payer"
  .col.s5.right-align
    = f.label :"tmp_amount"
  = f.fields_for :tmp_payment do |tp|
    .col.s7
      = tp.collection_select :member_id, item.available_members, :id, :name
  .col.s5
    = f.text_field :tmp_amount, placeholder: true, class: "right-align", id: "tmp-amount"

  .col.s7
    = f.label :"act_payers", class: "active"
  .col.s5.right-align
    = f.label :"act_amount", class: "active"
  .col.s12
    = f.fields_for :act_payments, item.available_act_payments do |ap|
      .row.act-payment
        .col.s7
          %p
            = ap.hidden_field :id
            = ap.hidden_field :member_id
            = ap.check_box :_destroy, {class: 'is-act-payer'}, false, true
            = ap.label :_destroy, ap.object.member_name
        .col.s5
          %p.right-align.cyan-text
            %span.act-amount

  .input-field.col.s12
    = f.text_area :memo, placeholder: true, class: "materialize-textarea"
    = f.label :memo, class: "active"

  .col.s12
    .actions
      = f.submit class: "waves-effect waves-light btn btn-flat cyan white-text col s12"
