= render 'shares/page_header'
= render 'shares/event_header', event: @event

= render 'shares/notice', notice: notice if notice

#content
  .container
    .row
      .col.s12
        %h5
          = t('event.items')

      .col.s12
        = link_to t('item.create'), new_event_item_path(@event) ,
            class: "waves-effect waves-light btn btn-flat cyan white-text col s12"

      .col.s12
        - @event.items_grouped_by_date.each do |date, items|
          .row.row-date-header
            %small.grey-text
              = date
          .collection.collection-items
            - items.each do |item|
              = link_to edit_event_item_path(@event, item), class: "collection-item" do
                .row.row-item
                  .col.s7.grey-text
                    %small
                      = item.tmp_payment_member_name
                  .col.s5.right-align.grey-text
                    %small
                      = l item.registered_at, format: :HHMM
                  .col.s7
                    = item.category_name
                  .col.s5.right-align
                    = number_to_currency item.tmp_amount
                  .col.s12.grey-text
                    %small.truncate
                      = item.memo.presence || "-"



=# link_to 'New Item', new_item_path
