= render 'shares/page_header'
= render 'shares/event_header', event: @event


.container
  .row
    .col.s12
      %h6
        = t('item.create')

    = render 'form', event: @event, item: @item

    .col.s12
      = link_to t('item.cancel'), event_items_path(@event), class: "waves-effect btn btn-flat white col s12"
